.search{
    max-width: 584px;
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    width: 500px;
    width: auto;

}
.butn
{
    border-radius: 24px;
    background: red;
    border: 0;
    padding: 5px;
    width: 5em;
    color:#fff;

}
.inpt
{
    border-radius: 24px;
    margin-left: 10px;
    border: 0;
    padding: 5px;
    width: 490px;
    color:#999;
    outline: none;

}
.row{
    border-bottom: 1px #ccc solid;
}
.row1{
    border-bottom: 1px #ccc solid;
    background: #8bc34a;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;

}
input[type="text"]:focus { outline: none; }

.logo-center{
    position: relative;
    left: 50%;
    margin-left: -8%;
}
.title-center{
    text-align: center;

}

select focus {
    outline: none;
}
